    <!-- Toast Container -->
    <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3"></div>
    
    <!-- Confirm Modal -->
    <div class="modal fade" id="confirm-modal" tabindex="-1">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Action</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirm-action">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    {{ template "_user_modal.html" . }}

    <!-- Common Scripts -->
    <script src="/admin/static/js/bootstrap.bundle.min.js?v={{ assetVersion }}"></script>
    <script src="/admin/static/js/tabler.min.js?v={{ assetVersion }}"></script>
    <script src="/admin/static/js/api.js?v={{ assetVersion }}"></script>
    <script src="/admin/static/js/components.js?v={{ assetVersion }}"></script>
